
<table>
    <tr>
        <td>
           Pratik Bankar
        </td>


        <td>
           Juhu
        </td>

    </tr>
    <tr>

        <td>
           064
        </td>



        <td>
           
        </td>

    </tr>
    <tr>

        <td>
           
        </td>


        <td>
          
        </td>
    </tr>
</table>
